@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", SansSerif;
}

body {
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
::focut{
  outline: none !important;
  border: none;
}

:focus-visible{
  outline: none;
}

::placeholder{
  font-size: 13px;
  color: #a57169;
}
hr.right_hr {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 80px;
    height: 2px;
    margin-bottom: 13px;
    background-color: #003147;
}
textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #d8a09a;
    border-radius: 4px;
    margin: 5px 0;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    transition: 0.3s;
}
.name_sec {
  width: 100%;
  height: 142px;
  display: flex;
  justify-content: center;
  padding: 3%;
  /* align-items: center; */
  flex-direction: column;
  background-image: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
} 
.name_sec h1 {
  font-family: sans-serif;
  margin: 0;
  color: #000;
  font-size: 3.3rem;
}
/* .name_sec input {
    width: 50% !important;
} */

.btnset {
    float: right;
}
button.Delete {
    border: none;
    background-color: rgb(204 0 0);
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
}

button.add{
    border: none;
    background-color: #f89151;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
}

.con_info {
  background-color: #21817f;
  padding: 5px 30px;
}
.con_info input[type="text"]{
  border: 1px solid #fff;
}
/* .con_info input[type="text"]::placeholder {
  color: white;
} */

.about.interest .inputWithIcon input[type="text"] {
    padding-left: 6px;
}
.about.ACHIEVEMENTS h2 {
  color: #f89151;
  font-weight: 600;
}
.about.CERTIFICATE h2 {
  color: #f89151;
  font-weight: 600;
}
select#cars {
    width: 100%;
    border: 2px solid #aaa;
    background-color: #fff;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    transition: 0.3s;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 0px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.inputWithIcon {
    position: relative;
}

textarea{
  color: #1a0b45;
}
.pad_sec input {
  color: #1a0b45;
}

.pad_sec{
  padding: 0 3%;
}
.pad_sec ul li {
  padding-bottom: 21px;
}
.rig_set {
  height: 100%;
  padding-right: 3%;
}
.inputWithIcon.inputIconBg i {
  color: #f89151;
  /* width: 35px; */
  /* height: 35px; */
  /* text-align: center; */
  padding: 3px 3px;
  font-size: 15px;
  /* border-radius: 50%; */
  /* float: left; */
}
.inputWithIcon i {
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}
.inputWithIcon input[type="text"] {
    padding-left: 28px;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #d8a09a;
    background-color: transparent;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    transition: 0.3s;
}
.wor_sem {
  padding-top: 40px;
}
.containers {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #fff;
  background-image: linear-gradient(to left bottom, #fabaaf, #fdc5c9, #ffffff6e, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #fabfb47a, #fac0b680, #fabaaf);
  margin: 50px;
  /* padding: 0 0 21px 0; */
/*  display: grid;
  grid-template-columns: 1fr 2fr;*/
  box-shadow: 0 3px 8px rgb(0 0 0 / 48%);
  border-bottom: 2px solid #fbbcb4;
}
/* .container .left_Side {
  position: relative;
  padding: 20px;
} */
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  /*border-radius: 50%;*/
  overflow: hidden;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo {
  width: 100%;
  height: auto;
}
.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.col-md-4.no_pad {
  padding-right: 0;
}
.contactInfo {
  /* padding-top: 40px; */
  min-width: 270px;
  /* width: 250px; */
  /* background-color: #f1f1f1; */
  padding: 31px 16px 16px 16px;
}
.contactInfo input::placeholder{
  font-size: 14px;
}
.title {
  color: #f89151;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.about.interest {
  padding-top: 40px;
}
.contactInfo ul {
  position: relative;
}
.contactInfo ul li {
  position: relative;
  margin: 10px 0;
  cursor: pointer;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contactInfo ul li span {
  color: #000;
  font-weight: 300;
}
.contactInfo.education h5 {
  color: #03a9f4;
  font-weight: 500;
}
.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}
.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
}
.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #081921;
  display: block;
  margin-top: 5px;
}
.contactInfo.language .percent div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}
.contactInfo.language {
    padding-top: 40px;
}
.containers .right_Side {
  position: relative;
  background-color: #fff;
  /* padding: 0 20px; */
}
ul.lis_non li {
  list-style: none;
}
.rig_set ul li p span {
  color: #f89151;
  font-weight: 500;
}
.about {
  /* margin-bottom: 20px; */
  /* padding-top: 40px; */
}
.about.skills {
    padding-top: 40px;
}
.about.interest ul li {
    margin: 0;
}
/* .about:last-child {
  margin-bottom: 0;
} */
.pad_sec p span {
  color: #f89151;
  font-weight: 600;
}
ul.ul_set {
  padding: 0 0 0 21px;
  word-break: break-all;
}
.title2 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  /* margin-bottom: 5px;
  margin-top: 10px; */
}
p {
  color: #081921;
}
.about .box {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  margin: 10px 0;
}
.about .box .year_company {
  min-width: 270px;
}
.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.about .box .text h4 {
  text-transform: uppercase;
  color: #2a7da2;
  font-size: 16px;
}
.skills .box {
  position: relative;
  width: 100%;
/*  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;*/
}
.about.ACHIEVEMENTS {
  padding-top: 20px;
}
.about.CERTIFICATE {
  padding: 20px 0 40px 0;
}
.skills .box h4 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
}
/*.box1 {
    display: flex;
    gap: 1rem;
}*/
.about.skills .box {
    margin: 3px auto;
}
.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}
.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}
/*.interest ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}*/
.about.interest .inputWithIcon.inputIconBg i {
    width: 35px;
    background-color: #0c3147;
    color: #fff;
}
.interest ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}
.interest ul li .fa {
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
@media (max-width: 1000px) {
  .containers {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.englishw50 {
  width: 60%;
}
.russianw90 {
  width: 90%;
}
.frenchw30 {
  width: 30%;
}
.htmlws30 {
  width: 50%;
}
.cssws45 {
  width: 45%;
}
.jsws70 {
  width: 70%;
}
.phws40 {
  width: 40%;
}
.ilws60 {
  width: 60%;
}
.adw70 {
  width: 70%;
}




