{% extends 'base.html' %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

<style>
  .todo nav ul li {
    padding: 11px 20px;
  }
</style>
<link rel="stylesheet" href="/static/toast/style.css" /> {% endblock css %} 
{% block main %}

<div class="todo">
  {% block nav %} {% include 'resume/base/nav.html' %} {% endblock nav %}

  <main class="panelD">
    <!--     <header>
      <img src="img/man.svg" alt="" class="perfil"> 
      <img src="img/noti.svg" alt="">
      <img src="img/chat.svg" alt="">
    </header> -->

    <!-- <h1 class="tituloD">Dashboard</h1> -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="tem">Team Leader: {{user.parent}}</h2>
        </div>
        <div class="col-md-6">
          <a href="/"
            ><button type="button" style="float: right; margin: 9px 0">
              Create Another Resume
            </button></a
          >
        </div>
      </div>

      <h2>Your Resume's<i class="fas fa-arrow-down"></i></h2>
    </div>
    <div class="tabla">
      <table cellpadding="0" cellspacing="0">
        <tr class="negrita bg-dark">
          <th>Resume Name</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Action</th>
          <th>View Resume</th>
        </tr>
        {% for resume in resumes %}
        <tr>
          <th><h4>{{ resume.title }}</h4></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>
            <a
              href="{% url 'update_data' resume.id %}"
              class="btn btn-warning btn-sm"
              >edit and add more</a
            >
          </th>
          {% if resume.template.name == "template" %}
          <th>
            <a
              href="{% url 'template_preview' resume.id %}"
              class="btn btn-success btn-sm"
              >View</a
            >
          </th>
          {% elif resume.template.name == "template2" %}
          <th>
            <a
              href="{% url 'template_preview2' resume.id %}"
              class="btn btn-success btn-sm"
              >View</a
            >
          </th>
          {% elif resume.template.name == "template3" %}
          <th>
            <a
              href="{% url 'template_preview3' resume.id%}"
              class="btn btn-success btn-sm"
              >View</a
            >
          </th>
          {% elif resume.template.name == "template4" %}
          <th>
            <a
              href="{% url 'template_preview4' resume.id %}"
              class="btn btn-success btn-sm"
              >View</a
            >
          </th>
          {% elif resume.template.name == "template5" %}
          <th>
            <a
              href="{% url 'template_preview5' resume.id %}"
              class="btn btn-success btn-sm"
              >View</a
            >
          </th>
          {% elif resume.template.name == "template6" %}
          <th>
            <a
              href="{% url 'template_preview6' resume.id %}"
              class="btn btn-success btn-sm"
              >View</a
            >
          </th>
          {% else %}
          <th></th>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </main>
</div>
<div class="wrapper">
  <div id="toast">
    <div class="container-1">
      <i class="fas fa-check-square"></i>
    </div>
    <div class="container-2">
      <p>Success</p>
      <p>Your changes are saved successfully.</p>
    </div>
    <button id="close" onclick="closeToast()">&times;</button>
  </div>
</div>
<!-- <button  id="show-toast" onclick="showToast()">click</button> -->
<script>
  let x;
  let toast = document.getElementById("toast");
  function showToast() {
    clearTimeout(x);
    toast.style.transform = "translateX(0)";
    x = setTimeout(() => {
      toast.style.transform = "translateX(400px)";
    }, 4000);
  }
  function closeToast() {
    toast.style.transform = "translateX(400px)";
  }
</script>

{% endblock main %}
