<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/template3/sty.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    
    
    .dow_btn button {
        font-size: 12px;
    }
    
    .dow_btn a {
        font-size: 12px;
    }
    
    .dow_btn {
        position: fixed;
        top: 50px;
        right: 5px;
    }
    
    @media print {
        #noprint {
            visibility: hidden;
        }
    }
</style>

<body>
    <div class="containers">
        <div class="name_sec">
            {% for object in resume.resumeuserdetails_set.all %}
            <h1>{{resume.resumeuserdetails_set.all.first.full_name}}</h1>
            <p>{{resume.title}}</p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="left_Side">
                    <div class="contactInfo">
                        <h3 class="title">Contact Info</h3>
                        <ul>
                            {% for object in resume.resumeuserdetails_set.all %}
                            <li>
                                <div class="inputWithIcon inputIconBg"> <span><i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>{{object.mobile}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="inputWithIcon inputIconBg"> <span><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;{{object.email}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="inputWithIcon inputIconBg"> <span><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;{{object.address}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="inputWithIcon inputIconBg"> <span><i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp;{{object.date_of_birth}}</span>
                                </div>
                            </li>
                            <!-- <li>
                                    <div class="inputWithIcon inputIconBg"> <span><i class="fa fa-map-marker" aria-hidden="true"></i> Moscow, Russia</span>
                                    </div>
                                </li> -->
                        </ul>
                        {% endfor %}

                        <div class="contactInfo education">
                            <h3 class="title">Education</h3>
                            <ul>
                                {% for object in resume.education_set.all %}
                                {% if object.qualification_name == '' %} {% else %}
                                <p><b>Qualification :-</b>{{object.qualification_name}}</p>
                                {% endif %} {% if object.university == '' %} {% else %}
                                <p><b>University :- </b>{{object.university}}</p>
                                {% endif %} {% if object.year_of_passing == '' %} {% else %}
                                <p><b>Passing Year :- </b>{{object.year_of_passing}}</p>
                                {% endif %} {% if object.percentage_or_grade == '' %} {% else %}
                                <p><b>Percentage :- </b>{{object.percentage_or_grade}}</p>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <br> 
                        </div>

                        <!-- <div class="contactInfo language">
                                <h3 class="title">Languages</h3>
                                <ul>
                                    <li> <span class="text">English</span>
                                        <ul>
                                            <li></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> -->

                        <div class="about skills">
                            <h2 class="title2">Professional skills</h2>
                            {% for object in resume.skills_set.all %}
                            <div class="box">
                                {% if object.skills == '' %} {% else %}

                                <p>{{object.skills}}</p>
                                {% endif %}
                            </div>
                            {% endfor %}

                            <div class="about interest">
                                <h2 class="title2">Interest</h2>
                                {% for object in resume.hobbies_set.all %}
                                <div class="inputWithIcon inputIconBg">
                                    {% if object.hobbies == '' %} {% else %}
                                    <p>{{object.hobbies}}</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="right_Side">
                    <div class="about">
                        <h2 class="title2">CAREER OBJECTIVE</h2>
                        <p>{{resume.objective}}</p>
                    </div>

                    <div class="about">
                        <h2 class="title2">Experience</h2>
                        {% for object in resume.experience_set.all %}
                        <div class="box">

                            <div class="year_company">
                                {% if object.company_name == '' %} {% else %}
                                <p><b>Company Name:-</b>{{ object.company_name }}</p>
                                {% endif %} {% if object.place == '' %} {% else %}
                                <p><b>Place :-</b>{{ object.place }}</p>
                                {% endif %}
                            </div>
                            <div class="text">
                                {% if object.designation == '' %} {% else %}
                                <p><b>Designation :-</b>{{ object.designation }}</p>
                                {% endif %} {% if object.role == '' %} {% else %}
                                <p><b>Role:-</b>{{ object.role }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <h2 class="title2">WORK SAMPLES</h2>
                        {% for object in resume.worksamples_set.all %}
                        <div class="box">

                            <div class="text">
                                {% if object.project_name == '' %} {% else %}
                                <p><b>Project Name:-</b>{{ object.project_name }}</p>
                                {% endif %} {% if object.project_link == '' %} {% else %}
                                <p><b>Project Link:-</b>{{ object.project_link }}</p>
                                {% endif %} {% if object.technology == '' %} {% else %}
                                <p><b>Technology:-</b>{{ object.technology }}</p>
                                {% endif %} {% if object.responsibilities == '' %} {% else %}
                                <p><b>Responsibilities:-</b>{{object.responsibilities }}</p>
                                {% endif %} {% if object.description == '' %} {% else %}
                                <p><b>Description:-</b>{{ object.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="about">
                        {% if resume.achievements_set.all %} {% for object in resume.achievements_set.all %} {% if forloop.first and object.achievements != ''%}
                        <h2 class="title2">ACHIEVEMENTS</h2>
                        {% endif %} {% if object.achievements == '' %} {% else %}
                        <p>{{object.achievements}}</p>
                        {% endif %} {% endfor %} {% else %} {% endif %}
                    </div>

                    <div class="about">
                        {% if resume.certificate_set.all %} {% for object in resume.certificate_set.all %} {% if forloop.first and object.certificate != ''%}

                        <h2 class="title2">CERTIFICATE</h2>
                        {% endif %} {% if object.certificate == '' %} {% else %}
                        <p>{{object.certificate}}</p>
                        {% endif %} {% endfor %} {% else %} {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dow_btn">
        <a id="noprint" href="{% url 'update_data' resume.id %}"><button class="btn btn-primary">Edit
            More</button></a> {% if request.user.is_authenticated %} <a href="{% url 'dashboard'  %}"  id="noprint"><button class="btn btn-success">Dashboard</button></a> {% if not request.user.account_approved %}
        <a onclick="alert('pending approval')" href="#"><button class="btn btn-primary">Download</button></a> {% else %}
        <a href="#" id="noprint" class="btn btn-info download">
            Download</a> {% endif %} {% else %}
        <a href="{% url 'sign_up' resume.id %}"><button class="btn btn-primary">Download</button></a> {% endif %}
    </div>
</body>
<script>
    $(".download").click(function() {
        $(".wrapper").css("margin-top", "-25px");
        $(".wrapper").css("margin-bottom", "0px");
        window.print()
    })
</script>

</html>