<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/template6/edit_page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css">
        .preview-btn {
            float: right;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 10px;
        }
        
        .about.skills {
            padding-top: 40px;
        }
        
        .preview-btn a.preview-linkbtn {
            background-color: #f89151;
            border-color: #f89151;
        }
    </style>
</head>

<body>
    <div class="containers">
        <div class="about">
            <div class="row">
                <div class="col-md-8">
                    <div class="name_sec">
                        <input type="text" class="data full_name" id="full_name" name="full_name" placeholder="Full name" value="{{resume.resumeuserdetails_set.get.full_name}}">
                        <input type="text" class="data title" id="title" name="title" placeholder="Title" value="{{resume.title}}">
                    </div>
                    <div class="pad_sec">
                        <h2 class="title2">Experience</h2>
                        <div class="text">
                            {% for object in experiences %}
                            <div class="row">
                                <div class="col-md-6"><input type="text" class="data company_name" name="company_name" placeholder="Company Name" value="{{object.company_name}}"></div>
                                <div class="col-md-6"><input type="text" class="data place" name="place" placeholder="Place" value="{{object.place}}"></div>
                            </div>
                            <textarea placeholder="Designation..." rows="4" cols="50" name="designation" id="designation" class="data designation" required="">{{ object.designation }}</textarea>
                            <textarea placeholder="Role here..." rows="4" cols="50" class="data role" name="role" id="role" required="">{{ object.role }}</textarea>
                            <div class="btnset">
                                <button type="button" class="Delete  delete_experience_class" data-id="{{object.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-experience" style="display: none;">
                                    <div class="row">
                                        <div class="col-md-6"><input type="text" class="data company_name" name="company_name" placeholder="Company Name"></div>
                                        <div class="col-md-6"><input type="text" class="data place" name="place" placeholder="Place"></div>
                                    </div>
                                    <textarea placeholder="Designation..." rows="4" cols="50" name="designation" id="designation" class="data designation" required=""></textarea>
                                    <textarea placeholder="Role here..." rows="4" cols="50" class="data role" name="role" id="role" required=""></textarea>
                                </div>
                                <div class="form-group another-experience" id="another-experience">
                                </div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="experience" id="add-experience"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add Experience !</button>
                                </div>
                            </div>
                        </div>
                        <div class="about" style="padding-top: 40px;">
                            <h2 class="title2">CAREER OBJECTIVE</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea placeholder="Career objective...." rows="4" cols="50" id="textareaInput" class="data objective" name="objective" required="">{{resume.objective}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="wor_sem">
                            <h2 class="title2">WORK SAMPLES</h2>
                            {% for object in worksamples %}
                            <div class="year_company">
                                <div class="row">
                                    <div class="col-md-6"><input type="text" class="data project_name" name="project_name" value="{{object.project_name}}" class="data company_name" placeholder="Project Name" /></div>
                                    <div class="col-md-6"><input type="text" placeholder="Project link..." name="project_link"   class="data project_link" value="{{ object.project_link }}"></div>
                                </div>
                            </div>
                            <div class="text">
                                <textarea placeholder="Technology..." rows="4" cols="50" id="technology" name="technology" class="data technology" required="">{{ object.technology }}</textarea>
                                <textarea placeholder="Description here..." rows="4" cols="50" id="description" name="description" class="data description" required="">{{ object.description }}</textarea>
                                <textarea placeholder="Role and Responsibilities here..." rows="4" cols="50" id="responsibilities" name="responsibilities" class="data responsibilities" required="">{{ object.responsibilities }}</textarea>
                                <div class="btnset">
                                    <button type="button" class="Delete  delete_worksamples_class" data-id="{{object.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-worksamples" style="display: none;">
                                    <div class="year_company">
                                        <div class="row">
                                            <div class="col-md-6"><input type="text" class="data project_name" name="project_name" class="data company_name" placeholder="Project Name" /></div>
                                            <div class="col-md-6"><input type="text" placeholder="Project link..." name="project_link"  class="data project_link">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <textarea placeholder="Technology..." rows="4" cols="50" id="technology" name="technology" class="data technology" required=""></textarea>
                                        <textarea placeholder="Description here..." rows="4" cols="50" id="description" name="description" class="data description" required=""></textarea>
                                        <textarea placeholder="Role and Responsibilities here..." rows="4" cols="50" id="responsibilities" name="responsibilities" class="data responsibilities" required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group another-worksamples" id="another-worksamples">
                                </div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="worksamples" id="add-worksamples"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add Worksamples !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no_pad">
                    <div class="rig_set">
                        <div class="contactInfo">
                            <ul>
                                <li>
                                    <div class="inputWithIcon inputIconBg">
                                        <input type="text" id="email" class="data email" value="{{resume.resumeuserdetails_set.get.email}}" placeholder="Email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="inputWithIcon inputIconBg">
                                        <input type="text" name="mobile" id="mobile" value="{{resume.resumeuserdetails_set.get.mobile}}" class="data mobile" placeholder="Phone Number"> <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="inputWithIcon inputIconBg">
                                        <input type="text" name="date_of_birth" id="date_of_birth" class="data date_of_birth" value="{{resume.resumeuserdetails_set.get.date_of_birth}}" placeholder="Date of birth">
                                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="inputWithIcon inputIconBg">
                                        <input type="text" name="address" id="address" class="data address" value="{{resume.resumeuserdetails_set.get.address}}" placeholder="Address">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="contactInfo education">
                            <h2 class="title">Education</h2>
                            {% for object in educations %}
                            <ul>
                                <li>
                                    <input type="text" class="data qualification_name"  name="qualification_name" value="{{ object.qualification_name }}" placeholder="Qualication name...">
                                </li>
                                <li>
                                    <input type="text" placeholder="University name..." class="data university" name="university" placeholder="University name..." value="{{object.university}}">
                                </li>
                                <li>
                                    <input type="text" class="data year_of_passing" name="year_of_passing" placeholder="Year of passing..." value="{{object.year_of_passing}}">
                                </li>
                                <li>
                                    <input type="text" class="data percentage_or_grade" name="percentage_or_grade" placeholder="Grade..." value="{{object.percentage_or_grade}}">
                                </li>
                            </ul>
                            <div class="btnset">
                                <button type="submit" class="Delete  delete_education_class" data-id="{{object.id}}">Delete</button>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-education" style="display: none;">
                                    <ul>
                                        <li>
                                            <input type="text" class="data qualification_name" id="qualification_name" name="qualification_name" placeholder="Qualication name...">
                                        </li>
                                        <li>
                                            <input type="text" placeholder="University name..." class="data university" name="university" placeholder="University name...">
                                        </li>
                                        <li>
                                            <input type="text" class="data year_of_passing" name="year_of_passing" placeholder="Year of passing...">
                                        </li>
                                        <li>
                                            <input type="text" class="data percentage_or_grade" name="percentage_or_grade" placeholder="Grade...">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group another-education" id="another-education">
                                </div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="education" id="add-education"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add Education !</button>
                                    <!-- <button type="button" class="add" data-name="achievements" id="add-achievements"><i class="fa fa-plus-square" aria-hidden="true" ></i>&nbsp; Add Achievements !</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="contactInfo education">
                            <h2 class="title">PROFESSIONALS SKILLS</h2>
                            {% for object in skills %}
                            <ul>
                                <li>
                                    <input type="text" class="data skills" name="skills" placeholder="skills" value="{{ object.skills }}">
                                </li>
                            </ul>
                            <div class="btnset">
                                <button type="button" class="Delete  delete_skills_class" data-id="{{object.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-skills" style="display: none;">
                                    <div class="box1">
                                        <div class="box">
                                            <input type="text" class="data skills" id="skills" name="skills" placeholder="skills">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group another-skills" id="another-skills">
                                </div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="skills" id="add-skills"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add Skills !</button>
                                </div>
                            </div>
                        </div>
                        <div class="contactInfo education">
                            <h2 class="title">Hobbies</h2>
                            {% for object in hobbies %}
                            <ul>
                                <li>
                                    <input type="text" class="data hobbies" name="hobbies" placeholder="Hobbies" value="{{object.hobbies}}">
                                </li>
                            </ul>
                            <div class="btnset">
                                <button type="button" class="Delete  delete_hobbies_class" data-id="{{object.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-hobbies" style="display: none;">
                                    <ul>
                                        <li>
                                            <input type="text" class="data hobbies" name="hobbies" placeholder="Hobbies">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group another-hobbies" id="another-hobbies"></div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="hobbies" id="add-hobbies"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add hobbies !</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about ACHIEVEMENTS">
                            <h2 class="title2">ACHIEVEMENTS</h2>
                            {% for object in achievements %}
                            <textarea placeholder="Achievements here..." rows="4" cols="50" id="achievements" name="achievements" class="data achievements" required="">{{ object.achievements }}</textarea>
                            <div class="btnset">
                                <button type="button" class="Delete  delete_achievements_class" data-id="{{object.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-achievements" style="display: none;">
                                    <textarea placeholder="Achievements here..." rows="4" cols="50" name="achievements" class="data achievements" required=""></textarea>
                                </div>
                                <div class="form-group another-achievements" id="another-achievements">
                                </div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="achievements" id="add-achievements"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add Achievements
                           !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about CERTIFICATE">
                            <h2 class="title2">CERTIFICATE</h2>
                            {% for object in certificates %}
                            <textarea placeholder="Certicate here..." rows="4" cols="50" id="certificate" name="certificate" class="data certificate" required="">{{ object.certificate }}</textarea>
                            <div class="btnset">
                                <button type="button" class="Delete  delete_certificate_class" data-id="{{object.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            </div>
                            {% endfor %}
                            <div class="tab">
                                <div class="form-group" id="resume-certificate" style="display: none;">
                                    <textarea placeholder="Certicate here..." rows="4" cols="50" name="certificate" class="data certificate" required=""></textarea>
                                    
                                </div>
                                <div class="form-group another-certificate" id="another-certificate">
                                </div>
                                <div class="btnset">
                                    <button class="add" type="button" data-name="certificate" id="add-certificate"><i
                              class="fa fa-plus-square" aria-hidden="true"></i> Add Certificate !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right preview-btn">
                    <a href="{% url 'template_preview6' resume.id %}" class="btn btn-info preview preview-linkbtn"> preview</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
        function delay(callback, ms) {
            var timer = 0;
            return function() {
                var context = this,
                    args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function() {
                    callback.apply(context, args);
                }, ms || 0);
            };
        }
    
        $("#add-education").click(delay(function() {
            var education_form = $('#resume-education').html();
    
            $("#another-education").append(education_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
        window.location.reload(true);

        }, 10))
    
        $("#add-experience").click(function() {
    
            var experience_form = $('#resume-experience').html();
            console.log($(this).data("name"))
            $("#another-experience").append(experience_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
        window.location.reload(true);

        })
    
        $("#add-worksamples").click(function() {
    
            var worksamples_form = $('#resume-worksamples').html();
            console.log($(this).data("name"))
            $("#another-worksamples").append(worksamples_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
            window.location.reload(true);

        })
    
        $("#add-achievements").click(function() {
    
            var achievements_form = $('#resume-achievements').html();
            console.log($(this).data("name"))
            $("#another-achievements").append(achievements_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
            window.location.reload(true);

        })
    
        $("#add-certificate").click(function() {
    
            var certificate_form = $('#resume-certificate').html();
            console.log($(this).data("name"))
            $("#another-certificate").append(certificate_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
            window.location.reload(true);

        })
    
        $("#add-skills").click(function() {
            var skill_form = $('#resume-skills').html();
            console.log($(this).data("name"))
            $("#another-skills").append(skill_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
            window.location.reload(true);

        })
    
        $("#add-hobbies").click(function() {
    
            var hobbies_form = $('#resume-hobbies').html();
            console.log($(this).data("name"))
            $("#another-hobbies").append(hobbies_form);
            var token = '{{csrf_token}}';
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/add_another/{{resume.id}}',
                data: {
                    'element': $(this).data("name")
                },
                success: function(json) {}
            })
            window.location.reload(true);

        })
    
        $(document).on("keyup", ".data", function() {
            var token = '{{csrf_token}}';
            var company_name = $('input[name^=company_name]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var designation = $('textarea[name^=designation]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var place = $('input[name^=place]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var role = $('textarea[name^=role]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
    
            var project_name = $('input[name^=project_name]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var project_link = $('input[name^=project_link]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var technology = $('textarea[name^=technology]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var description = $('textarea[name^=description]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var responsibilities = $('textarea[name^=responsibilities]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
    
            var achievements = $('textarea[name^=achievements]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
    
            var certificate = $('textarea[name^=certificate]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
    
            var qualification_name = $('input[name^=qualification_name]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var university = $('input[name^=university]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var year_of_passing = $('input[name^=year_of_passing]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var percentage_or_grade = $('input[name^=percentage_or_grade]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
            var skills = $('input[name^=skills]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
    
    
            var hobbies = $('input[name^=hobbies]').map(function(idx, elem) {
                return $(elem).val();
            }).get();
    
            var obj = $(this)
            var id = obj.data('id');
            console.log(qualification_name)
    
    
            $.ajax({
                headers: {
                    "X-CSRFToken": token
                },
                type: 'POST',
                url: '/update_data/{{resume.id}}',
                data: {
                    'objective': $('.objective').val(),
                    'title': $('.title').val(),
                    'company_name[]': company_name,
                    'designation[]': designation,
                    'place[]': place,
                    'role[]': role,
                    'id_skill': id,
                    'project_name[]': project_name,
                    'project_link[]': project_link,
                    'technology[]': technology,
                    'description[]': description,
                    'responsibilities[]': responsibilities,
                    'achievements[]': achievements,
                    'certificate[]': certificate,
                    'qualification_name[]': qualification_name,
                    // 'qualification_n[]':qualification_n,
                    'university[]': university,
                    'year_of_passing[]': year_of_passing,
                    'percentage_or_grade[]': percentage_or_grade,
                    'skills[]': skills,
                    'hobbies[]': hobbies,
                    // 'language_name[]': language_name,
                    'address': $('.address').val(),
                    'email': $('.email').val(),
                    'mobile': $('.mobile').val(),
                    'date_of_birth': $('.date_of_birth').val(),
                    'full_name': $('.full_name').val(),
                },
                success: function(json) {}
            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".delete_education_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    // headers: { "X-CSRFToken": token },
                    type: 'GET',
                    url: '/deleteeducation/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
        $(document).ready(function() {
            $(".delete_skills_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    type: 'GET',
                    url: '/deleteskill/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
        $(document).ready(function() {
            $(".delete_hobbies_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    type: 'GET',
                    url: '/deletehobbie/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
        $(document).ready(function() {
            $(".delete_experience_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    type: 'GET',
                    url: '/deleteexperience/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
        $(document).ready(function() {
            $(".delete_worksamples_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    type: 'GET',
                    url: '/deleteworksamples/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
        $(document).ready(function() {
            $(".delete_achievements_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    type: 'GET',
                    url: '/deleteachievements/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
        $(document).ready(function() {
            $(".delete_certificate_class").on('click', function() {
                var id = $(this).data("id")
                var token = '{{csrf_token}}';
                $.ajax({
                    type: 'GET',
                    url: '/deletecertificate/' + id + '/',
                    data: {
                        'data': "None",
                    },
                    success: function(json) {
                        window.location.reload(true);
                    }
                })
            })
        });
    </script>
</body>

</html>