<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/template4/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title></title>
    <style type="text/css">
        .preview {
            margin-bottom: 50px;
            margin-right: 50px;
        }

    </style>
</head>

<body>

    {% csrf_token %}
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <!---->
                <div class="col-md-8">
                    <div class="left-side">
                        <h2>CAREER OBJECTIVE</h2>
                        <textarea id="objective" rows="6" cols="200" class="form-control mt-3 mb-4 data objective"
                            name="objective" id="objective" placeholder="Career objective...." rows="6"
                            onkeyup="AutoGrowTextArea(this)">{{resume.objective}}</textarea>


                        <h2>EXPERIENCES</h2>
                        {% for object in experiences %}
                        <!-- <input type="hidden" name="experience_id" value="{{object.id}}" /> -->

                        <textarea class="form-control mt-3 font-weight-bold data company_name" name="company_name"
                            id="company_name" placeholder="Company name..."
                            onkeyup="AutoGrowTextArea(this)">{{ object.company_name }}</textarea>
                        <textarea class="form-control data designation" name="designation" id="designation"
                            placeholder="Designation..."
                            onkeyup="AutoGrowTextArea(this)">{{object.designation}}</textarea>
                        <textarea class="form-control data place" name="place" id="place" placeholder="Place..."
                            onkeyup="AutoGrowTextArea(this)">{{object.place}}</textarea>
                        <p class="role-text">role :-</p>
                        <textarea class="form-control data role" name="role" id="role" placeholder="role here..."
                            rows="6" onkeyup="AutoGrowTextArea(this)">{{object.role}}</textarea>
                        <!-- <button type="button" ><i class="fa fa-trash secondary" aria-hidden="true" ></i></button>  -->
                        <button type="button" class="Delete  delete_experience_class" data-id="{{object.id}}"><i
                                class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        <hr> {% endfor %}

                        <div class="tab">
                            <div class="form-group" id="resume-experience" style="display: none;">
                                <textarea class="form-control mt-3 font-weight-bold data company_name"
                                    name="company_name" id="company_name" placeholder="Company name..."
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control data designation" name="designation" id="designation"
                                    placeholder="Designation..." onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control data place" name="place" id="place" placeholder="Place..."
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                                <p class="role-text">role :-</p>
                                <textarea class="form-control data role" name="role" id="role"
                                    placeholder="Description here..." rows="6"
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                            </div>

                            <div class="form-group another-experience" id="another-experience">

                            </div>
                            <button type="button" data-name="experience" id="add-experience"><i
                                    class="fa fa-plus secondary" aria-hidden="true"></i>&nbsp; Add Experience</button>

                        </div>


                        <h2 class="mt-5">WORK SAMPLES</h2>

                        {% for object in worksamples %}
                        <textarea
                            class="project-name form-control mt-3 font-weight-bold d-inline-block data project_name"
                            id="project_name" name="project_name" placeholder="Project name..."
                            onkeyup="AutoGrowTextArea(this)">{{object.project_name}}</textarea>
                        <textarea class="form-control project-link data project_link" id="project_link"
                            name="project_link" placeholder="project link..."
                            onkeyup="AutoGrowTextArea(this)">{{object.project_link}}</textarea>
                        <textarea class="form-control data technology" id="technology" name="technology"
                            placeholder="technology..."
                            onkeyup="AutoGrowTextArea(this)">{{object.technology}}</textarea>
                        <p class="role-text">Description :-</p>
                        <textarea class="form-control data description" id="description" name="description"
                            placeholder="Description here..." rows="6"
                            onkeyup="AutoGrowTextArea(this)">{{object.description}}</textarea>
                        <p class="role-text">Role and Responsibilities :-</p>
                        <textarea class="form-control data responsibilities" id="responsibilities"
                            name="responsibilities" placeholder="Description here..." rows="6"
                            onkeyup="AutoGrowTextArea(this)">{{object.responsibilities}}</textarea>
                        <!-- <button type="button" ><i class="fa fa-trash secondary" aria-hidden="true" ></i></button>  -->
                        <button type="button" class="Delete  delete_worksamples_class" data-id="{{object.id}}"><i
                                class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        <hr> {% endfor %}

                        <div class="tab">
                            <div class="form-group" id="resume-worksamples" style="display: none;">
                                <textarea
                                    class="project-name form-control mt-3 font-weight-bold d-inline-block data project_name"
                                    id="project_name" name="project_name" placeholder="Project name..."
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control project-link data project_link" id="project_link"
                                    name="project_link" placeholder="project link..."
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control data technology" id="technology" name="technology"
                                    placeholder="technology..." onkeyup="AutoGrowTextArea(this)"></textarea>
                                <p class="role-text">role :-</p>
                                <textarea class="form-control data description" id="description" name="description"
                                    placeholder="Description here..." rows="6"
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                                <p class="role-text">Responsibilities :-</p>
                                <textarea class="form-control data responsibilities" id="responsibilities"
                                    name="responsibilities" placeholder="Description here..." rows="6"
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                            </div>

                            <div class="form-group another-worksamples" id="another-worksamples">

                            </div>
                            <button type="button" data-name="worksamples" id="add-worksamples"><i
                                    class="fa fa-plus secondary" aria-hidden="true"></i>&nbsp; Add WorkSamples</button>

                        </div>


                        <h2>ACHIEVEMENTS</h2>


                        {% for object in achievements %}
                        <textarea class="form-control mt-3 data achievements" id="achievements" name="achievements"
                            placeholder="achievements here..." rows="4"
                            onkeyup="AutoGrowTextArea(this)">{{object.achievements}}</textarea>
                        <!-- <button type="button"><i class="fa fa-trash secondary" aria-hidden="true" ></i></button>  -->
                        <hr>
                        <button type="button" class="Delete  delete_achievements_class" data-id="{{object.id}}"><i
                                class="fa fa-trash" aria-hidden="true"></i> Delete</button> {% endfor %}


                        <div class="tab">
                            <div class="form-group" id="resume-achievements" style="display: none;">
                                <textarea class="form-control mt-3 data achievements" id="achievements"
                                    name="achievements" placeholder="achievements here..." rows="4"
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                            </div>

                            <div class="form-group another-achievements" id="another-achievements">

                            </div>
                            <button type="button" data-name="achievements" id="add-achievements"><i
                                    class="fa fa-plus secondary" aria-hidden="true"></i>&nbsp; Add Achievements
                                !</button>
                        </div>

                        <h2>CERTIFICATE</h2>
                        {% for object in certificates %}
                        <textarea class="form-control mt-3 data certificate" id="certificate" name="certificate"
                            placeholder="certificate here..." rows="4"
                            onkeyup="AutoGrowTextArea(this)">{{object.certificate}}</textarea>
                        <button type="button" class="Delete  delete_certificate_class" data-id="{{object.id}}"><i
                                class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        <hr> {% endfor %}

                        <div class="tab">
                            <div class="form-group " id="resume-certificate" style="display: none;">
                                <textarea class="form-control mt-3 data certificate" id="certificate" name="certificate"
                                    placeholder="certificate here..." rows="4"
                                    onkeyup="AutoGrowTextArea(this)">{{object.certificate}}</textarea>
                            </div>

                            <div class="form-group another-certificate" id="another-certificate"></div>
                            <button type="button" data-name="certificate" id="add-certificate"><i
                                    class="fa fa-plus secondary" aria-hidden="true"></i>&nbsp; Add Certificate
                                !</button>
                        </div>
                    </div>

                </div>
                <!--col-md-8-->




                <!--col-md-4-->

                <div class="col-md-4 p-0">
                    <div class="right-side">
                        <!-- <div class="profile-area">
                            <div class="avatar-upload">
                                <form method="post" action="{% url 'image_upload' resume.id %}"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" onchange="this.form.submit()" name="photo"
                                            accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload"></label>
                                    </div>
                                </form>
                                <div class="avatar-preview">

                                    {% if resume.resumeuserdetails_set.get.photo.url is not null %}
                                    <div id="imagePreview"
                                        style="background-image: url('{{resume.resumeuserdetails_set.get.photo.url}}')">
                                        {%else%}
                                        <div id="imagePreview" style=""></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <h2 class="container-block-title pt-4">Education</h2> -->


                        <!-- <input class="data" type="hidden" name="id" data-id="{{object.id}}" value="{{object.id}}" > -->
                        <textarea class="form-control mt-3 data full_name" id="full_name" name="full_name"
                            placeholder="full_name"
                            onkeyup="AutoGrowTextArea(this)">{{resume.resumeuserdetails_set.get.full_name}}</textarea>
                        <textarea class="form-control data title" id="title" name="title" placeholder="title..."
                            onkeyup="AutoGrowTextArea(this)" >{{resume.title}}</textarea>



                        <textarea class="form-control data address" id="address" name="address" placeholder="address..."
                            onkeyup="AutoGrowTextArea(this)">{{resume.resumeuserdetails_set.get.address}}</textarea>
                        <textarea class="form-control data email" id="email" name="email" placeholder="email..."
                            onkeyup="AutoGrowTextArea(this)">{{resume.resumeuserdetails_set.get.email}}</textarea>

                        <textarea class="form-control data mobile" id="mobile" name="mobile" placeholder="mobile..."
                            onkeyup="AutoGrowTextArea(this)">{{resume.resumeuserdetails_set.get.mobile}}</textarea>

                        <textarea class="form-control data date_of_birth" id="date_of_birth" name="date_of_birth"
                            placeholder="date_of_birth..."
                            onkeyup="AutoGrowTextArea(this)">{{resume.resumeuserdetails_set.get.date_of_birth}}</textarea>






                        <!-- - - - - -- - - - - - -- - - - - - - - - - - - - - - - -->
                        <h2 class="container-block-title pt-4">Education</h2>

                        {% for object in educations %}

                        <textarea class="form-control mt-3 data qualification_name" id="qualification_name"
                            name="qualification_name" placeholder="Qualification name..."
                            onkeyup="AutoGrowTextArea(this)">{{object.qualification_name}}</textarea>
                        <textarea class="form-control date university" id="university" name="university"
                            placeholder="university name..."
                            onkeyup="AutoGrowTextArea(this)">{{object.university}}</textarea>
                        <textarea class="form-control data year_of_passing" id="year_of_passing" name="year_of_passing"
                            placeholder="year of passing..."
                            onkeyup="AutoGrowTextArea(this)">{{object.year_of_passing}}</textarea>
                        <textarea class="form-control data percentage_or_grade" id="percentage_or_grade"
                            name="percentage_or_grade" placeholder="grade..."
                            onkeyup="AutoGrowTextArea(this)">{{object.percentage_or_grade}}</textarea>
                        <div class="form-group delete-education">
                            <button type="submit" class="Delete  delete_education_class" data-id="{{object.id}}">Delete</button>
                        </div>
                        
                        {% endfor %}

                        <div class="tab">
                            <div class="form-group" id="resume-education" style="display: none;">
                                <textarea class="form-control mt-3 data qualification_name" name="qualification_name"
                                    placeholder="Qualification name..." onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control date university" id="university" name="university"
                                    placeholder="university name..." onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control data year_of_passing" id="year_of_passing"
                                    name="year_of_passing" placeholder="year of passing..."
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                                <textarea class="form-control data percentage_or_grade" id="percentage_or_grade"
                                    name="percentage_or_grade" placeholder="grade..."
                                    onkeyup="AutoGrowTextArea(this)"></textarea>
                            </div>

                            <div class="form-group another-education" id="another-education">

                            </div>
                            <button type="button" data-name="education" id="add-education"><i
                                    class="fa fa-plus secondary" aria-hidden="true"></i>&nbsp; Add Education !</button>
                        </div>



                        <h2 class="container-block-title pt-4">skills</h2>
                        <div class="skillset pt-2">
                            <div class="item">
                                {% for object in skills %}
                                <textarea class="form-control mt-3 data skills" id="skills" name="skills"
                                    placeholder="skills ..."
                                    onkeyup="AutoGrowTextArea(this)">{{ object.skills }}</textarea>

                                <button type="button" class="Delete  delete_skills_class" data-id="{{object.id}}"><i
                                        class="fa fa-trash" aria-hidden="true"></i> Delete</button> {% endfor %}

                            </div>
                        </div>


                        <div class="tab">
                            

                            <div class="form-group" id="resume-skills" style="display: none;">
                                <textarea class="form-control mt-3 data skills" id="skills" name="skills"
                                    placeholder="skills ..." onkeyup="AutoGrowTextArea(this)"></textarea>
                            </div>
                          
                            <div class="form-group another-skills" id="another-skills">

                            </div>
                            <button type="button" data-name="skills" id="add-skills"><i class="fa fa-plus secondary"
                                    aria-hidden="true"></i>&nbsp; Add Skills !</button>
                        </div>

                        <h2 class="container-block-title pt-4">hobbies</h2>
                        <div class="skillset pt-2">
                            <div class="item">
                                {% for object in hobbies %}
                                <textarea class="form-control mt-3 data hobbies" id="hobbies" name="hobbies"
                                    placeholder="hobbies ..."
                                    onkeyup="AutoGrowTextArea(this)">{{ object.hobbies }}</textarea>

                                <button type="button" class="Delete  delete_hobbies_class" data-id="{{object.id}}"><i
                                        class="fa fa-trash" aria-hidden="true"></i> Delete</button> {% endfor %}

                            </div>
                        </div>

                        <div class="tab">


                            <div class="form-group" id="resume-hobbies" style="display: none;">
                                <textarea class="form-control mt-3 data hobbies" id="hobbies" name="hobbies"
                                    placeholder="hobbies ..."
                                    onkeyup="AutoGrowTextArea(this)">{{ object.hobbies }}</textarea>
                            </div>

                            <div class="form-group another-hobbies" id="another-hobbies">

                            </div>
                            <button type="button" data-name="hobbies" id="add-hobbies"><i class="fa fa-plus secondary"
                                    aria-hidden="true"></i>&nbsp; Add Hobbies !</button>
                        </div>

                        <!-- <h2 class="container-block-title pt-4">Language</h2>
              <div class="skillset pt-2">
                  <div class="item">

                      {% for object in resume.language_set.all %}

                        <textarea type="text" name="language_name"  class="level-title data language_name" id="language_name" placeholder="a" onkeyup="AutoGrowTextArea(this)">{{object.language_name}} </textarea>


                     {% endfor %}

                  </div>
              </div> -->
                    </div>
                </div>
                <!--col-md-4-->
            </div>
        </div>
        <div class="text-right">
            <a href="{% url 'template_preview' resume.id %}" class="btn btn-info preview"> preview.</a>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script type="text/javascript">
            // function readURL(input) {
            //     if (input.files && input.files[0]) {
            //         var reader = new FileReader();
            //         reader.onload = function (e) {
            //             $("#imagePreview").css(
            //                 "background-image",
            //                 "url(" + e.target.result + ")"
            //             );
            //             // $("#imagePreview").hide();
            //             $("#imagePreview").fadeIn(650);
            //         };
            //         reader.readAsDataURL(input.files[0]);
            //     }
            // }
            // $("#imageUpload").change(function () {
            //     readURL(this);
            // });

            function AutoGrowTextArea(textField) {
                if (textField.clientHeight < textField.scrollHeight) {
                    textField.style.height = textField.scrollHeight + "px";
                    if (textField.clientHeight < textField.scrollHeight) {
                        textField.style.height =
                            (textField.scrollHeight * 2 - textField.clientHeight) + "px";
                    }
                }
            }
        </script>



        <script>
            function delay(callback, ms) {
                var timer = 0;
                return function () {
                    var context = this,
                        args = arguments;
                    clearTimeout(timer);
                    timer = setTimeout(function () {
                        callback.apply(context, args);
                    }, ms || 0);
                };
            }

            $("#add-education").click(delay(function () {
                var education_form = $('#resume-education').html();

                $("#another-education").append(education_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            }, 10))

            $("#add-experience").click(function () {

                var experience_form = $('#resume-experience').html();
                console.log($(this).data("name"))
                $("#another-experience").append(experience_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            })

            $("#add-worksamples").click(function () {

                var worksamples_form = $('#resume-worksamples').html();
                console.log($(this).data("name"))
                $("#another-worksamples").append(worksamples_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            })

            $("#add-achievements").click(function () {

                var achievements_form = $('#resume-achievements').html();
                console.log($(this).data("name"))
                $("#another-achievements").append(achievements_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            })

            $("#add-certificate").click(function () {

                var certificate_form = $('#resume-certificate').html();
                console.log($(this).data("name"))
                $("#another-certificate").append(certificate_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            })

            $("#add-skills").click(function () {
                var skill_form = $('#resume-skills').html();
                console.log($(this).data("name"))
                $("#another-skills").append(skill_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            })

            $("#add-hobbies").click(function () {

                var hobbies_form = $('#resume-hobbies').html();
                console.log($(this).data("name"))
                $("#another-hobbies").append(hobbies_form);
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/add_another/{{resume.id}}',
                    data: {
                        'element': $(this).data("name")
                    },
                    success: function (json) { }
                })
            window.location.reload(true);

            })

            $(document).on("keyup", ".data", function () {
                var token = '{{csrf_token}}';
                var company_name = $('textarea[name^=company_name]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var designation = $('textarea[name^=designation]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var place = $('textarea[name^=place]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var role = $('textarea[name^=role]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();

                var project_name = $('textarea[name^=project_name]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var project_link = $('textarea[name^=project_link]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var technology = $('textarea[name^=technology]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var description = $('textarea[name^=description]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var responsibilities = $('textarea[name^=responsibilities]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();

                var achievements = $('textarea[name^=achievements]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();

                var certificate = $('textarea[name^=certificate]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();

                var qualification_name = $('textarea[name^=qualification_name]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var university = $('textarea[name^=university]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var year_of_passing = $('textarea[name^=year_of_passing]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var percentage_or_grade = $('textarea[name^=percentage_or_grade]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();
                var skills = $('textarea[name^=skills]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();


                var hobbies = $('textarea[name^=hobbies]').map(function (idx, elem) {
                    return $(elem).val();
                }).get();

                var obj = $(this)
                var id = obj.data('id');
                console.log(qualification_name)


                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: 'POST',
                    url: '/update_data/{{resume.id}}',
                    data: {
                        'objective': $('.objective').val(),
                        'title': $('.title').val(),
                        'company_name[]': company_name,
                        'designation[]': designation,
                        'place[]': place,
                        'role[]': role,
                        'id_skill': id,
                        'project_name[]': project_name,
                        'project_link[]': project_link,
                        'technology[]': technology,
                        'description[]': description,
                        'responsibilities[]': responsibilities,
                        'achievements[]': achievements,
                        'certificate[]': certificate,
                        'qualification_name[]': qualification_name,
                        // 'qualification_n[]':qualification_n,
                        'university[]': university,
                        'year_of_passing[]': year_of_passing,
                        'percentage_or_grade[]': percentage_or_grade,
                        'skills[]': skills,
                        'hobbies[]': hobbies,
                        // 'language_name[]': language_name,
                        'address': $('.address').val(),
                        'email': $('.email').val(),
                        'mobile': $('.mobile').val(),
                        'date_of_birth': $('.date_of_birth').val(),
                        'full_name': $('.full_name').val(),
                    },
                    success: function (json) { }
                })
            })
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".delete_education_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        // headers: { "X-CSRFToken": token },
                        type: 'GET',
                        url: '/deleteeducation/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
            $(document).ready(function () {
                $(".delete_skills_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        type: 'GET',
                        url: '/deleteskill/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
            $(document).ready(function () {
                $(".delete_hobbies_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        type: 'GET',
                        url: '/deletehobbie/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
            $(document).ready(function () {
                $(".delete_experience_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        type: 'GET',
                        url: '/deleteexperience/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
            $(document).ready(function () {
                $(".delete_worksamples_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        type: 'GET',
                        url: '/deleteworksamples/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
            $(document).ready(function () {
                $(".delete_achievements_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        type: 'GET',
                        url: '/deleteachievements/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
            $(document).ready(function () {
                $(".delete_certificate_class").on('click', function () {
                    var id = $(this).data("id")
                    var token = '{{csrf_token}}';
                    $.ajax({
                        type: 'GET',
                        url: '/deletecertificate/' + id + '/',
                        data: {
                            'data': "None",
                        },
                        success: function (json) {
                            window.location.reload(true);
                        }
                    })
                })
            });
        </script>
</body>

</html>
