body {
    font-family: "Roboto", sans-serif;
    background: #f5f5f5;
}

section.wrapper {
    max-width: 960px;
    margin: 30px auto;
    background: #fff;
}

h2 {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.left-side {
    padding: 40px 0px 30px 20px;
}

textarea {
    border: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
    overflow: hidden !important;
}

textarea:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
}

.project-link {
    display: inline-block;
    width: 40%;
    float: right;
    margin: 14px;
}

.project-name {
    width: 40%;
}

.role-text {
    color: #000;
}


/*-------------right side ---------------*/

.profile-area {
    background: #cccccc;
    padding: 30px 0;
    text-align: center;
    height: 100%;
}

.profile-area ul {
    padding-left: 20px;
}

.profile-area h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 30px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.set {
    padding: 18px;
}

.skillset .level-title {
    font-size: 14px;
    margin-bottom: 12px;
}

.skillset input {
    border: 0;
}

.skillset input:focus {
    border: 0;
    outline: none;
}

.add-morebtn {
    float: right;
    border: 1px solid #6c757d;
    background: transparent;
    font-weight: normal;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    line-height: 15px;
    color: #74757c;
    margin: 10px 0px 0 0px;
    cursor: pointer;
}

.textarea:focus {
    outline: none !important;
    border: 0 !important;
}

input:focus {
    outline: none !important;
    border: 0 !important;
}

@page {
    margin: 50;
}


/*@page { size:  auto; margin: 50px; }*/

@media print {
    #noprint {
        visibility: hidden;
    }
}

body {
    font-family: "Roboto", sans-serif;
    background: #f5f5f5;
}

page-break-after: always section {
    padding-top: 50px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: #0a072f;
    font-family: sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

h6 {
    margin: 12px auto;
}

p {
    margin: 0;
    padding: 10px 0;
}

.btnset button {
    font-size: 12px;
    font-weight: bold;
}

.btnset a {
    font-size: 12px;
    font-weight: bold;
}

::focus {
    outline: none !important;
}


/*.container {
max-width: 960px;
margin: 30px auto;
padding: 20px;
}*/

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/**/


/*.wrapper {
width: 969px;
margin: 0 auto;
margin-top: 60px;
margin-bottom: 100px;
background-color: #fff;
}*/

.wrapper {
    width: 1062px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: #fff;
}

.pro h2 {
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 1.5;
    color: #0a072f;
}

.pro p {
    font-size: 12px;
    font-weight: 600;
}

input.inp-set {
    width: 100%;
    height: 40px;
}

.table thead th {
    border-bottom: 1px solid #b1b3b5 !important;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #b1b3b5;
}

.form-group label {
    font-size: 12px;
    font-weight: 600;
    color: #0a072f;
    padding-bottom: 3px;
}

.btnset {
    position: fixed;
    right: 1%;
    top: 5%;
    z-index: 99999999999999999999;
}

button.btn.btnsub {
    background-color: #4c4c4c;
    color: #FFF;
    font-weight: bold;
}

word-break: break-all;
.profile-area {
    text-align: center;
    
    height: 100%;
}

.pro_set {
    background: #cccccc;
    padding: 30px;
}

td.set {
    padding: 20px 18px;
}

.wrapper ul li {
    text-align: left;
    line-height: 2;
    /* word-break: break-all; */
    font-size: 15px;
}

td.profile-area h2 {
    text-align: left;
    padding-top: 20px;
}

.test {
    padding: 0 18px;
}

ul.achie li {
    line-height: 1.5;
    word-break: break-word;
}